{% extends "base.html" %}

{% block title %} About {{ block.super }} {% endblock %}

{% block content %}

    <div id="introduction">
        <div class="container">
            <h1>About</h1>
            <p>
                The Fashion Revolution Wall will mark Fashion Revolution Week 18-24 April 2016. The Fashion Revolution movement was born on 24th April 2013, when 1,134 people were killed and over 2,500 were injured when the Rana Plaza garment factory complex collapsed in Dhaka, Bangladesh. Fashion Revolution Week will bring people from all over the world together to use the power of fashion to change the story for the people who make our clothes. We asked brands #whomademyclothes to show that we demand better for the people who make our clothes.
   			</p>
            <p class="tagline"> We want more brands to show us who made our clothes.</p>
			<p class="tagline"> We want clothes that we will be proud to wear. </p>
			<p class="tagline">	We want to thank the makers.</p>
			<p>To join the Fashion Revolution global movement and submit your clothing label to this wall, just take a photo of your label and tweet it using the hashtags #fashrevwall and #whomademyclothes. </p>
			<p>This simple action, when multiplied globally, demonstrates the strength of the global Fashion Revolution Movement.</p>
			<p>The idea for the Fashion Revolution Wall was initiated by Marianne Caroline Hughes, volunteer on the Fashion Revolution education team and Founder of <a href="http://www.knowlabel.org">KnowLabel</a>. In the video below she explains how the idea grew from an installation of clothing labels in London on Fashion Revolution Day 2015. This year we wanted to create a global event online which anyone in the world could participate in.</p>
			<p>This Fashion Revolution Wall site has been kindly <a href="http://www.womenhackfornonprofits.com">built by Women Hack For Non-Profits</a>. We’re very grateful for the time, energy and skills their team of developers have used to turn an idea into reality!</p>
			<p>You can find out more about Fashion Revolution at <a href="http://www.fashionrevolution.org">www.fashionrevolution.org</a>.</p>
			<p>Once you’ve submitted your clothing label to our wall, please share this page on <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=fashrevwall.com%2Fabout&text=I%20have%20just%20submitted%20a%20picture%20to%20Fashion%20Revolution%20Wall%21&hashtags=fashrevwall&" data-size="large">Twitter</a> including via our <a href="https://www.facebook.com/events/1595175574138136/"> Fashion Revolution Wall Facebook event</a> page.</p>
			<div class="video-wrapper">
				<iframe width="560" height="315" src="http://www.youtube.com/embed/OtRRUEs3o0c" frameborder="0"></iframe>
			</div>

        </div>
    </div>  

{% endblock %}
