{% extends "base.html" %}

{% block title %} About {{ block.super }} {% endblock %}

{% block content %}

    <div id="introduction">
        <div class="container">
            <h1>About</h1>
            <p>
                The Fashion Revolution Wall will mark Fashion Revolution Week 18-24 April 2016. The Fashion Revolution movement was born on 24th April 2013, when 1,134 people were killed and over 2,500 were injured when the Rana Plaza garment factory complex collapsed in Dhaka, Bangladesh. Fashion Revolution Week will bring people from all over the world together to use the power of fashion to change the story for the people who make our clothes. We asked brands #whomademyclothes to show that we demand better for the people who make our clothes.
            </p>
        </div>
    </div>  

{% endblock %}
