@import "bootstrap-custom";

$max-width: 63em; 
$max-text-width: 45em;
$font-size-base: 16px;
$font-size-text: 1.2em;

@font-face {
 font-family: "Kelson Sans";
    src: url("kelson-font/Kelson_Sans_Regular.otf") format("opentype");
}
@font-face {
    font-family: "Kelson Sans";
    font-weight: bold;
    src: url("kelson-font/Kelson_Sans_Bold.otf") format("opentype");
}

body {
    background: #ef5b58;
    font-family: "Kelson Sans"; 
    font-size: $font-size-base;
} 
h1 {
    font-family: "Kelson Sans";
    font-size: 3em;
    line-height: 1.5em;
    text-decoration: underline;;
}

a {
    padding: 0;
    margin: 0;
}
.container {
    max-width: $max-text-width;
    padding: 2em;
    font-size: $font-size-text;
    line-height: $font-size-text*1.4;
}

.color-container {
    background-color: #ef5b58;
    padding: 4em 0;
    p {
        text-align: center;

    }
}
.twitter-image {
    width: 17em;
    height: 17em;
    display: block;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    border: 1em solid #fcfcfc;  
    border-bottom-width: 0;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1) inset;
}

.tweet-list-container {
    width: auto;
    margin: 0 auto;
}
.tweet-container {
    box-shadow:4px 4px 0px rgba(0,0,0,.1);  
}

.tweet-container:hover {
    transform: scale(1.01);
}
#twitter-images-list {
    list-style: none;
    margin: 0 auto;
    display: block;
    padding: 3em 0;
    display: flex;
    max-width: $max-width;
    flex-direction: row;
    flex-wrap: wrap;
}

#twitter-images-list li {
    margin: 1.5em auto;
    display:inline-block; 

}

.tweet-text {
    background:#fcfcfc;
    line-height:1.3em;
    text-align: center;
    padding: 1em;
    font-style: bold;
    padding:0.5em 0;
    border: .7em solid #fcfcfc;  
    display:block;
    font-weight:bold;
    letter-spacing:0.1em;
    text-transform:uppercase;
    margin: 0 0 1em 0;
    color:#181818;
    font-family:"Open Sans", "Ariel";
}

#top-bar {
    height: 200px;
}
#top-bar #logo-wrapper {
    background: url('../img/FashRev_pattern.png');
    height: 200px;
    padding: 0;
}
#top-bar #logo {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
}
.white-container {
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.hashtag {
    font-weight: bold;
    font-size: 25px;
}
a {
    font-weight: bold;
    color: #000000;
    font-style:italic;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
   
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}